<!DOCTYPE html>
    <html>
    <head>
            <title>hucklebery hunter</title>
            {{mymap.js}}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id='main'>
            <div id='plantselector'>
                <p>Pull up the ten best spots in Mass to search for ...</p>
                <form action='/' method="POST">
                    <select multiple id="plants" name="plants">
                        {% for plant, symbol in plant_options.items() %}
                            {% if plant in selected_plants %}
                                <option selected value="{{symbol}}">{{plant}} {{harvest_strings_dict[symbol]}}</option>
                            {% else %}
                                <option value="{{symbol}}">{{plant}} {{harvest_strings_dict[symbol]}}</option>
                            {% endif %}
                        {% endfor %}
                    </select><br/>
                    <input type="submit" value="Search">
                </form>
                <h4>harvest season legend</h4>
                <ul>
                    <li>🌱: Spring</li>
                    <li>🌞: Summer</li>
                    <li>🍂: Fall</li>
                    <li>❄️: Winter</li>
                </ul>
                {% if no_results %}
                <p><span style="color:red; font-weight:bold;">No results!</span></p>
                {% endif %}
            </div>
            <div id='map'>
                {{mymap.html}}
            </div>
        </div>
        <div id='footer'>
        {% if selected_plants|length %}
            <iframe id="wikiframe" src="https://en.wikipedia.org/wiki/{{wiki_slugs[selected_plants[0]]}}"></iframe>
        {% endif %}
        </div>
    </body>
</html>
